<div class="task-row">
  <%= previous_category_button(task) %>
  <%= next_category_button(task) %>
  <div class="task-content">
    <%= link_to edit_project_task_path(@project, task) do %>
      <h5 class="pink-text"><%= task.title %></h5>
    <% end %>
    <span class="shifted small-text dark-gray"><%= task.description %></span>
  </div>
</div>