<%= form_for project do |f| %>
  <% if project.errors.any? %>
  <div id="error_explanation" class="small-text error-text">
    <ul>
    <% project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-inputs">
    <div class="row">
      <div class="input">
        <%= f.text_field :title, autocomplete: "off", :placeholder => "Title" %>
      </div>
    </div>

    <div class="row">
      <div class="input">
        <%= f.text_area :description, autocomplete: "off", :placeholder => "Description" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="row">
      <%= f.submit :class => "button button-red" %>
    </div>
  </div>
<% end %>

<p class="small-text">
    <%= link_to 'Back', project_back_link(project) %>
</p>