<div class="project-row">
  <div class="multiple-column">
    <div class="project-left">
      <h4 class="dark-gray"><%= link_to project.title, project_path(project), :class => "dark-gray" %></h4>
      <span class="shifted small-text ligth-gray"><%= project.description %></span>
    </div>
    <div class="project-right">
      <div class="collaborators">
        <%= retina_image_tag(current_user, :photo, :thumb, :default => [40, 40], :class => "thumbnail") %>
        <div class="commands">
          <div class="icon icon-text icon-circle">
            <%= link_to '+', '#', method: :delete %>
          </div>
        </div>
      </div>
      <div class="commands">
        <div class="icon icon-text icon-circle">
          <%= link_to 'x', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
</div>