<div class="form_box multiple_form_box">
  <h3>Manage collaborations</h3>

  <%= form_tag edit_project_path(@project), :method => :get do %>
    <div class="form-inputs">
      <div class="row search-row">
        <div class="input">
          <%= text_field_tag :search, params[:search], placeholder: "Search email" %>
        </div>
        <div class="action">
          <%= submit_tag 'Search', :name => nil, :class => "button button-red" %>
        </div>
      </div>
    </div>
  <% end %>

  <div id="searched-users">
    <% if !@found_users.nil? %>
      <% @found_users.each do |user| %>
        <%= add_user_button(user) %>
      <% end %>
    <% end %>
  </div>
  <div id="current-collabs">
    <% @project.partnerships.where(:owner => false).each do |partnership| %>
      <%= remove_user_button(partnership) %>
    <% end %>
  </div>
</div>