<%= render @project %>

<div class="container">
  <div id="c1">
    <div class="column-name">
      <span class="dark-gray">Ideas</span>
      <div class="icon icon-text icon-circle">
        <%= link_to "+", new_project_task_path(@project, :category => 1) %>
      </div>
    </div>
    <%= render @ideas %>
  </div>
  <div id="c2">
    <div class="column-name">
      <span class="dark-gray">In Progress</span>
      <div class="icon icon-text icon-circle">
        <%= link_to "+", new_project_task_path(@project, :category => 2) %>
      </div>
    </div>
    <%= render @progress %>
  </div>
  <div id="c3">
    <div class="column-name">
      <span class="dark-gray">Completed</span>
      <div class="icon icon-text icon-circle">
        <%= link_to "+", new_project_task_path(@project, :category => 3) %>
      </div>
    </div>
    <%= render @completed %>
  </div>
</div>