<!-- <div id="face-picture" style="background-image:#{current_user.photo.url(:thumbnail_2x)};"></div> -->
<%= image_tag(current_user.photo.url(:thumbnail_2x), :id => "face-picture") %>
<div id="header-name">
  <span><%= current_user.first_name %> <%= current_user.last_name %></span>
  <div id="dropdown-arrow" class="icon icon-text">
    <
  </div>
    <nav id="dropdown-box" class="signed-in gray-link small-text">
        <ul>
          <li><%= link_to "Projects", '#', :class => "gray-link small-text" %></li>
          <li><%= link_to "Edit settings", edit_user_registration_path, :class => "gray-link small-text" %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: "delete", :class => "gray-link small-text" %></li>
        </ul>
    </nav>
</div>