<%# image_tag(current_user.photo.url(:thumb), :class => "thumbnail") %>
<%= retina_image_tag(current_user, :photo, :thumb, :default => [40, 40], :class => "thumbnail") %>
<div id="header-name">
  <span><%= current_user.first_name %> <%= current_user.last_name %></span>
  <div id="dropdown-arrow" class="icon icon-text">
    <
  </div>
    <nav id="dropdown-box" class="signed-in gray-link small-text">
        <ul>
          <li><%= link_to "Projects", projects_path, :class => "gray-link small-text" %></li>
          <li><%= link_to "Edit settings", edit_user_registration_path, :class => "gray-link small-text" %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: "delete", :class => "gray-link small-text" %></li>
        </ul>
    </nav>
</div>