<div id="face-picture" class="control-toggle"></div>
<div id="header-name">
  <span><%= current_user.first_name %> <%= current_user.last_name %></span>
  <div id="dropdown-arrow" class="icon icon-text">
    <!-- <span class="button-text rotate-down"><</span> -->
    <
  </div>
    <nav id="dropdown-box" class="signed-in gray-link small-text">
        <ul>
          <li><%= link_to "Projects", '#', :class => "gray-link small-text" %></li>
          <li><%= link_to "Edit settings", edit_user_registration_path, :class => "gray-link small-text" %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: "delete", :class => "gray-link small-text" %></li>
        </ul>
    </nav>
</div>